* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* Fondo general */
body {
  background-color: #94c5f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  min-height: 100vh;
}

#container_principal {
  background-color: #d0e0f0;
  max-width: 600pc;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #323131;
  margin: 20px auto;
}

h1 {
  color: #2A1E5C;
  font-size: 28px;
  margin-bottom: 20px;
}

.contenedor_completadas {
  display: inline-flex;
  align-items: center;
  background-color: #c5c1cf;
  padding: 8px 16px;
  border-radius: 12px;
  margin-bottom: 30px;
  font-size: 15px;
  color: #000000;
}

.contenedor_completadas span {
  color: #7e0a9e;
  font-weight: bold;
  margin: 0 3px;
}

#contenedor_form {
  margin-bottom: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding:10px;
  border-radius: 8px;
  border: 2px solid #94c5f6;
  margin-bottom: 8px;
  background-color: transparent;
  font-size: 16px;
  color: #000000;
}

input::placeholder {
  color: #000000;
}

/* Al darle clic en los input cambia de color, diseño interactivo mejorando usabilidad y accesibilidad */
input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #2A1E5C;
}

#btnAgregarTarea {
  width: 100%;
  padding: 16px;
  background-color:#7e0a9e;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
#btnAgregarTarea:hover{
  background-color:#7A3FFF;
}